
.contactList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    background-color: #fff;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

.item button{
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    border: 1px solid crimson;
    cursor: pointer;
    color: crimson;
    background-color: #fff;
}

.item img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}